* {
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Poppins", sans-serif;
  color: black;
}
.App {
  max-width: 600px;
  margin: 0 auto;
}

.App footer {
  font-size: 11px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
body {
  /* background-image: url("Vorderrhein.png"); */
  /* background-image: url("immo-unsplash.jpg"); */
  background-position: left;
  background-repeat: no-repeat;
  background-size: 300%;
  height: 90vh;
}
.box {
  padding-top: 8px;
  padding-bottom: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 10px;
  margin-top: 80px;
  max-width: 50rem;
  height: auto;
  background-color: rgba(255, 255, 255, 0.6);
  /* background-color: rgb(235, 240, 245); */
  /* border-radius: 50% 20% / 10% 40%; */
  border-radius: 10%;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
  /* border: 1px solid black; */
}

.icon-temp,
.humidity-info,
.temp-info {
  text-align: center !important;
}
