* {
  font-family: "Ubuntu", sans-serif;
  color: darkgray;
}
.App {
  max-width: 600px;
  margin: 0 auto;
}

.App footer {
  font-size: 11px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
body {
  /* background-image: url("Vorderrhein.png"); */
  background-image: url("immo-unsplash.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 200%;
  height: 90vh;
}
.box {
  padding-top: 20px;
  padding-right: 15px;
  margin-top: 80px;
  margin-bottom: 10px;
  max-width: 800px;
  /* background-color: lightgray; */
  background-color: transparent;
  /* border-radius: 50% 20% / 10% 40%; */
  border-radius: 10%;
  border: 1px solid black;
}
